<div class="header">
	<div class="logo-container">
		<img class="logo" src="/images/site/logo.png">
	</div>
	<div class="titlebox">
		<h1 class="title">Shane Vandegrift</h1>
		<p class="subtitle">aka Vandesm14</p>
	</div>
	<div class="searchbox">
		<form action="/search" method="GET">
			<input type="text" placeholder="Search" name="q">
		</form>
	</div>
</div>