<div class="side">
	<div class="sidebar">
		<div class="sidebar-section">
			<div class="link-item">
				<a href="/"><img class="link-icon" src="/images/site/home.png"></a>
				<a class="link-button" href="/">Home</a>
			</div>
			<div class="link-item">
				<a href="/tag?q=updates"><img class="link-icon" src="/images/site/notification.png"></a>
				<a class="link-button" href="/tag?q=updates">Updates</a>
			</div>
			<div class="link-item">
				<a href="/tag?q=articles"><img class="link-icon" src="/images/site/article.png"></a>
				<a class="link-button" href="/tag?q=articles">Articles</a>
			</div>
			<div class="link-item">
				<a href="/tag?q=projects"><img class="link-icon" src="/images/site/webpage.png"></a>
				<a class="link-button" href="/tag?q=projects">Projects</a>
			</div>
		</div>
		<div class="sidebar-section">
			<div class="link-item">
				<a href="/p/about"><img class="link-icon" src="/images/site/question-mark.png"></a>
				<a class="link-button" href="/p/about">About</a>
			</div>
			<div class="link-item">
				<a href="/rss"><img class="link-icon" src="/images/site/rss.png"></a>
				<a class="link-button" href="/rss">RSS</a>
			</div>
		</div>
	</div>
</div>