body {
	margin: 0;
	padding: 0;
	font-family: Noto Sans, sans-serif;
}

body, div, h1, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #0000dd;
	text-decoration: none;
}

/* --------Scrollbar-------- */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
	background: #555555;
}
/* --------End Scrollbar-------- */

.app {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

/* --------Sidebar-------- */
.side {
	z-index: 2;
	display: flex;
	flex-direction: column;
	padding: 1vh 0.5vw;
	width: 4vw;
	background-color: #000000;
}

.logo-container, .sidebar {
	margin: 0 auto;
}

.link-item {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 4vw;
	border-radius: 0px 6px 6px 0px;
	transition: 200ms ease-out;
}

.link-item:hover {
	width: max-content;
	background-color: white;
	box-shadow: 0 0 3px black;
}

.link-item {}

.link-icon {
	margin-left: 1vw;
	width: 2vw;
	text-align: center;
	font-size: 30px;
	filter: invert(1);
}

.link-item:hover .link-icon {
	filter: invert(0);
	transition: 200ms ease-out;
}

.link-item .link-button {
	visibility: hidden;
	margin: 0.5vw 2vw;
	padding: 0.5vw 1vw;
	max-width: 0;
	width: max-content;
	background-color: white;
	color: #000000;
	text-align: center;
	opacity: 0;
	transition: 200ms ease-out;
}

.link-item:hover > .link-button {
	visibility: visible;
	max-width: 15vw;
	opacity: 1;
}

.link-item .link-button:hover {
	text-decoration: underline;
}

.logo-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.logo {
	max-width: 4vw;
	max-height: 4vw;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: right;
	margin-left: 0;
}

.sidebar-section {
	display: flex;
	flex-direction: column;
	justify-content: right;
	margin: 15px 0;
}

/* --------Vertical-------- */
.vertical {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1%;
	width: 98%;
	height: min-content;
	/* border-radius: 0 0 20px 20px; */
	background-color: #000000;
	/* box-shadow: 0 2px 4px 0 #00000094; */
	color: white;
}

.titlebox {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 32px;
}

.subtitle {
	color: #ffffffcc;
	font-size: 18px;
}

/* --------List-------- */
.list-container {
	display: flex;
	overflow: scroll;
	flex-direction: column;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}

.list-item {
	display: flex;
	flex-direction: column;
	margin: 10px 10%;
	padding: 10px;
	width: 50%;
	height: min-content;
	border-radius: 4px;
	background-color: #eaeaea;
	/* box-shadow: 0 1px 3px 1px #00000059; */
	transition: 200ms ease-out;
}

.list-item:hover {
/* 	box-shadow: 0 9px 4px -4px #00000059; */
	transform: scale(1.05);
}

.item-title {
	color: #333232 !important;
	/* width: max-content; */
	font-size: 24px;
}

.item-title:hover {
	text-decoration: underline;
}

.item-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: grey;
	font-size: 14px;
}

.item-tags {
	color: rgb(76, 133, 69);
}

.item-tags a {
	color: rgb(76, 133, 69);
}

.item-tags a:hover {
	text-decoration: underline;
}

/* --------Post-------- */
.post-container {
	display: flex;
	overflow: scroll;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 20%;
	padding-top: 20px;
	width: 60%;
}

.post-title {
	width: max-content;
	color: #484747;
	font-weight: 900;
	font-size: 50px;
	font-family: Calibri;
}

.post-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: grey;
	font-size: 14px;
}

.post-tags {
	color: rgb(76, 133, 69);
}

.post-tags a {
	color: rgb(76, 133, 69);
}

.post-tags a:hover {
	text-decoration: underline;
}

.post-content {
	margin-top: 16px;
}

.post-content p {
	margin: 1em 0;
	color: #5d5d5d;
	font-size: 18px;
	font-family: Apple;
}

/* ----------Mobile---------- */
@media only screen and (max-device-width : 640px) {
	.title {
		font-size: 30px;
	}

	.subtitle {
		margin-bottom: 10px;
		font-size: 20px;
	}

	.side {
		padding: 1vh 0.5vw;
		width: 14vw;
		height: 98vh;
	}

	.sidebar {
		margin: 0;
	}

	.link-item {
		width: 10vw;
	}

	.link-icon {
		margin-bottom: 4vw;
		margin-left: 2vw;
		width: 10vw;
		font-size: 30px;
	}

	.logo {
		max-width: 14vw;
		max-height: 11vw;
	}

	.vertical {
		width: 100%;
	}

	.header {
		flex-direction: column;
		padding: 3%;
		width: 94%;
	}

	.list-item {
		padding: 6px;
		width: 80%;
	}

	.post-container {
		display: flex;
		overflow: visi;
		flex-direction: column;
		margin: 0 auto;
		padding: 0 0;
		padding-top: 20px;
		width: 90%;
	}

	.post-title {
		width: 100%;
		font-size: 35px;
	}

	.post-content {
		margin-top: 16px;
	}

	.post-content p {
		margin: 1em 0;
		color: #5d5d5d;
		font-size: 14px;
		font-family: Apple;
	}
}
